*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

* {
	margin: 0;
	padding: 0;
}

body {
	height: 100%;
	background-color: #FFFBF8;
	font-family: 'nunito';
}

.background {
	background:url(../image/back1.jpg) no-repeat top center;
	background-size: cover;
	color: #FFFFFF;
	margin-bottom: 160px;
}

h1 {
	font-weight: 800;
	font-size: 56px;
	margin-bottom: 20px;
}

h2 {
	font-size: 48px;
	font-weight: 600;
	margin-bottom: 60px;
}

h3 {
	font-size: 32px;
	margin-bottom: 40px;
}

h4 {
	font-size: 30px;
	font-weight: 500;
	line-height: 41px;
	margin-bottom: 20px;
}

.wrap {
	width: 100%;
	max-width: 1288px;
	margin: 0 auto;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.header-container {
	position: relative;
	max-width: 1288px;
	margin: 0 15px;
}

.header-container__wrap {
	position: absolute;
	width: 100%;
	margin: 60px auto 0;
}

.header-container__menu {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 40px;
}

.header-container__menu-contact ul li {
	display: inline;
}

.header-container__menu-contact ul li img {
	vertical-align: middle;
	margin: 0 10px;
}

.header-container__menu-contact ul li img:hover {
	transform: scale(1.3);
}

.header-container__menu-contact ul li:last-child {
	color: #FFFFFF;
	font-size: 24px;
	margin-left: 17px;
	vertical-align: middle;
}

.header-container__menu-contact a:hover {
		color: #FF8F00;
}

/* МЕНЮ */
.header__container-nav a {
	color: #FFFFFF;
	font-size: 20px;
	font-weight: 300;
	padding-top: 15px;
	padding-bottom: 15px;
}

.header__container-nav ul {
	display: flex;
	justify-content: space-between;
}

.header__container-nav li {
	position: relative;
}

.header__container-menu__list li:hover .header__container-sub-menu__list li {
	display: block;
}

.header__container-sub-menu__list  {
	flex-direction: column;
	position: absolute;
	width: 172px;
	left: 0;
	top: 20px;
	padding: 10px 0 0 0;
}

.header__container-sub-menu__list li{
	display: none;
}

.header__container-nav a:hover {
	color: #FF8F00;
}

.header__container-menu__list a:hover .header-arrow{
	border-top: 17px solid #FF9F25;
}

.logo-small {
	display: none;
}

.header-arrow {
	position: relative;
	right: 0;
	top: 22px;
	left: 12px;
	width: 0;
	height: 0;
	border-top: 17px solid #FFFFFF;
	border-right: 10px solid transparent;
	border-left: 10px solid transparent;
	border-radius: 3px;
}

body.mouse .header__container-menu__list>li:hover .header__container-sub-menu__list {
	display: block;
}

/* ПЕРВЫЙ БЛОК ПОСЛЕ ШАПКИ БЛОК ОФФЕР */
.offer {
	max-width: 908px;
	margin: 0 15px 170px 76px;
	padding-top: 315px;
}

.offer-btn {
	font-family: 'nunito';
	background-color: #FF8F00;
	color: #FFFFFF;
	padding: 12.5px 26.5px;
	border-radius: 16px;
	font-size: 20px;
}

.offer-btn:hover {
	background-color: #DC810E;
}

.offer-btn:active {
	background-color: #FF9F25
}

.swipe {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 336px;
	margin: 0 auto;
}

.swipe p {
	text-align: center;
	margin-bottom: 20px;
	font-size: 24px;
}

.swipe a {
	background-image: url(../image/icons/swipe.svg);
	background-size: 72px;
	background-repeat: no-repeat;
	width: 72px;
	height: 72px;
	padding: 10px;
}

.swipe a:hover {
	transform: scale(1.2);
}

/* ВТОРОЙ БЛОК С МУЖИКОМ */
.aboutus-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
}

.aboutus-container__wrap {
	display: flex;
	justify-content: space-between;
	padding-bottom: 160px;
	flex-wrap: nowrap;
}

.aboutus-container__wrap-left ul,
.aboutus-container__wrap-right ul {
	display: flex;
	flex-direction: column;
	width: auto;
	justify-content: space-between;
	height: 525px;
}

.aboutus-container__wrap-left ul li {
	list-style: none;
	background-image: url(../image/icons/Ellipse4.svg);
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: right;
	background-position-y: 5px;
	padding-right: 29px;
	height: 30px;
	text-align: right;
	font-size: 24px;
	font-weight: 600;
}

.aboutus-container__wrap-left ul li:hover {
	background-image: url(../image/icons/ellipses.svg);
}

.aboutus-container__wrap-left ul li:nth-child(n+2):nth-child(-n+3) {
	margin-right: 72px;
}

.aboutus-container__wrap-center {
	margin: 0 15px;
}

.aboutus-container__wrap-right ul li {
	list-style: none;
	background-image: url(../image/icons/Ellipse4.svg);
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: left;
	background-position-y: 5px;
	padding-left: 29px;
	height: 30px;
	font-size: 24px;
	font-weight: 600;
}

.aboutus-container__wrap-right ul li:hover {
	background-image: url(../image/icons/ellipses.svg);
}

.aboutus-container__wrap-right ul li:nth-child(n+2):nth-child(-n+3) {
	margin-left: 78px;
}

/* ТРЕТИЙ БЛОК ПРО КОМАНДУ */
.container-team {
	text-align: center;
	max-width: 1132px;
	margin: 0 auto;
	padding-bottom: 160px;
}

.container-team__wrap {
	display: flex;
	justify-content: space-around;
	flex-wrap: nowrap;
}

.container-team__item {
	width: 337px;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
}

.container-team__item img {
	margin-bottom: 20px;
}

/* ЧЕТВЕРТЫЙ БЛОК ПРЕИМУЩЕСТВА */
.background-benefits {
	background: url(../image/background3.jpg) no-repeat;
	background-size: cover;
}

.container-benefits__h {
	padding-top: 50px;
	color: #FFFFFF;
	padding-left: 15px;
	padding-left: 78px;
}

.container-benefits__wrap {
	display: flex;
	justify-content: flex-end;
	width: 0 auto;
	padding-bottom: 121px;
}

.container-benefits__wrap-text {
	background-image: url(../image/shadow.svg);
	background-repeat: no-repeat;
	backdrop-filter: blur(2px);
	max-width: 412px;
	margin-right: 28px;
	height: 384px;
	line-height: normal;
	font-weight: 300;
}

.container-benefits__wrap-text p {
	width: 377px;
	font-size: 20px;
	margin: 30px 15px;
	color: #FFFFFF;
}

.container-benefits__wrap-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	max-width: 770px;
	width: 100%;
	margin-top: 53px;
	color: #FFFFFF;
}

.container-benefits__wrap-list ul {
	display: flex;
	flex-direction: column;
	width: auto;
	justify-content: space-between;
	height: 572px;
}

.container-benefits__wrap-list ul li {
	background-image: url(../image/icons/Ellipse3.svg);
	background-repeat: no-repeat;
	background-size: 24px;
	background-position: left;
	background-position-y: 5px;
	padding-left: 38px;
	height: 30px;
	font-size: 24px;
	font-weight: 600;
}

.container-benefits__wrap-list ul li:hover {
	background-image: url(../image/icons/ellipseswhite2.svg);
	background-position-y: 2px;
	background-position-x: -7px;
	background-size: 40px;
}

.container-benefits__wrap-list ul li:nth-child(1) {
	align-self: flex-end;
}

.container-benefits__wrap-list ul li:nth-child(2) {
	margin-left: 32px;
}

.container-benefits__wrap-list ul li:nth-child(3) {
	align-self: flex-end;
	margin-right: 32px;
}

.container-benefits__wrap-list ul li:nth-child(5) {
	align-self: flex-end;
}

/* ПЯТЫЙ БЛОК МАТЕРИАЛЫ ОТДЕЛКИ */
.container-material {
	max-width: 912px;
	margin: 0 auto 140px;
	padding-top: 160px;
	text-align: center;
}

.container-material__tree {
	display: grid; 
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	row-gap: 20px;
}

.container-material__tree-item img {
	margin-bottom: 20px;
}

.container-material__tree-item p {
	font-size: 24px;
	font-weight: 600;
}

/* ШЕСТОЙ БЛОК ПОРТФОЛИО */
.wrapper {
	position: relative;
	padding: 0 76px;
	min-height: 100%;
	overflow-x: hidden;
	margin-bottom: 160px;
}

.title {
	font-family: 'nunito';
	font-size: 48px;
	text-align: center;
	font-weight: 600;
}

.image-slider {
	padding: 40px 0 70px 0;
}

.image-slider__image {
	text-align: center;
}

.image-slider__image img {
	max-width: 100%;
	height: 500px;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
	color: #FF8F00;
}

.image-slider .swiper-pagination-bullet {
	width: 20px;
	height: 20px;
	line-height: 20px;
}

.image-slider .swiper-pagination-bullet:hover {
	transform: scale(1.3);
}

.swiper-pagination-bullet-active {
	background-color: #FF8F00 !important;
	width: 26px !important;
	height: 26px !important;
	top: 2px;
	opacity: 0.8 !important;
}

.image-slider .swiper-pagination-bullet {
	position: relative;
	background-color: #E0E0E0;
	opacity: 0.5;
}

/* СЕДЬМОЙ БЛОК КАТАЛОГ */
.wrap-background {
	background-image: url(../image/background-block6.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}

.container {
	position: relative;
}

.container-catalog {
	margin-left: 53px;
	padding-top: 60px;
	color: #fff;
}

.container-catalog__img{
	height: 125px;
	width: 120px;
	margin-bottom: 40px;
}

.container-catalog__title {
	margin-bottom: 70px;
}

.container-catalog__offer{
	max-width: 537px;
	margin-bottom: 20px;
	font-weight: 300;
	letter-spacing: 0.3px;
}

.catalog-form{
	max-width: 340px;
	margin-left: 53px;
	color: #fff;
}

.catalog-form__container {
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 20px;
	font-weight: 300;
}

.form-label {
	display: block;
	font-size: 20px;
	margin-bottom: 5px;
}

#email {
	font-family: 'nunito';
	font-size: 16px;
	width: 340px;
	height: 32px;
	border: none;
	margin-bottom: 13px;
	background: none;
}

.checkbox__input{
	position: relative;
	bottom: 15px;
	width: 20px;
	height: 20px;
	margin-right: 10px;
	color: #FFFFFF;
}

.checkbox__label {
	display: inline-block;
	vertical-align: middle;
	max-width: 268px;
	border-bottom: 1px solid #FFFFFF;
	margin-bottom: 42px;
	font-weight: 300;
}

.catalog-form__button {
	background-color: #FF8F00;
	color: #FFFFFF;
	padding: 12.5px 26.5px;
	border-radius: 16px;
	font-size: 20px;
	margin-bottom: 371px;
}

.catalog-form__button:hover {
	background-color: #DC810E;
}

.catalog-form__button:active {
	background-color: #FF9F25;
}

/* ВОСЬМОЙ БЛОК ИНФОРМАЦИЯ*/
.container-info {
	padding-top: 160px;
	text-align: center;
}

.container-info__title-h2 {
	margin-bottom: 20px;
}

.container-info__title-h3-1 {
	margin-bottom: 20px;
}

.container-info__title-h3-2 {
	margin-bottom: 60px;
}

.container-info__plan {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	row-gap: 60px;
	column-gap: 64px;
	justify-content: center;
}

.container-info__plan-call>p {
	max-width: 435px;
	font-size: 20px;
}

.container-info__plan-call img {
	margin-bottom: 10px;
}

/* БЛОК ДЕВЯТЬ ВОПРОСЫ */
.block-answer {
	padding-top: 160px;
}

.block-answer h2 {
	text-align: center;
}

.answer {
	max-width: 1068px;
	margin: 0 auto;
}

.answer li {
	position: relative;
	list-style: none;
}

.answer__list>li {
	margin-bottom: 40px;
	border: 3px solid #FF8F00;
	border-radius: 20px;
	padding: 20px 0 20px 40px;
}

.answer__list li:hover .sub-answer__list {
	display: block;
}

.sub-answer__list {
	display: none;
	position: relative;
	left: 0;
	top: 0;
	padding: 15px 0px 0px 0px;
	max-width: 930px;
}

.answer__list div {
	display: inline-block;
	max-width: 946px;
}

.arrow-correct {
	top: 0px;
	right: 10px;
}

.answer__link {
	font-size: 30px;
	font-weight: 600;
	line-height: 41px;
	color: black;
	margin-right: 41px;
}
.answer__link:hover {
	color: black;
}

.sub-answer__link {
	display: inline-block;
	font-size: 20px;
}

.arrow {
	position: relative;
	border: solid #616161;
   border-width: 0 3px 3px 0;
   display: inline-block;
   padding: 7px;
	transform: rotate(-45deg);
   -webkit-transform: rotate(-45deg);
	bottom: 21px;
	left: 10px;
}

.arrow:hover {
	transform: rotate(45deg);
   -webkit-transform: rotate(45deg);
}

.carousel-control-next {
	right: -5%;
}

.carousel-control-prev {
	left: -5%;
}

.carousel-control-prev-icon {
	background-image: url(../image/icons/vectorbrown.svg);
	position: absolute;
	top: 130px;
}

.carousel-control-next-icon {
	background-image: url(../image/icons/vectorbrownright.svg);
	position: absolute;
	top: 130px;
}

.carousel-control-next:hover, .carousel-control-prev:hover {
	transform: scale(1.3);
}

.carousel-indicators [data-bs-target] {
	height: 20px;
	width: 20px;
	border-radius: 50%;
	background-color: #E0E0E0;
	margin: 0 5px;
}

.carousel-indicators [data-bs-target]:hover {
	transform: scale(1.3);
}

.carousel-indicators {
	bottom: -45px;
}

button.active {
	position: relative;
	background-color: rgb(255, 143, 0, 0.8) !important;
	width: 26px !important;
	height: 26px !important;
	bottom: 3px;
}

.block-answer__application {
	padding-top: 40px;
	font-size: 32px;
	line-height: 44px;
	max-width: 1068px;
	margin: 0 auto 160px;
}

.answer__list li:hover span {
	transform: rotate(45deg);
}

.block-answer__small-ekran {
	display: none;
}

/* ДЕСЯТЫЙ БЛОК КОНТАКТЫ */
.container-contact {
	margin-bottom: 160px;
}

.container-contact__block1 {
	display: flex;
	margin-bottom: 40px;
}

.container-contact__photo {
	position: relative;
	right: 10px;
}

.container-contact__title {
	align-self: center;
	max-width: 518px;
	margin-left: 7%;
}

.container-contact__h2 {
	margin: 0 0 20px 0;
}

.container-contact__h4 {
 font-size: 32px;
 max-width: 518px;
 margin-bottom: 40px;
 font-weight: 500;
}

.container-contact__form {
	max-width: 330px;
	text-align: left;
}

.container-contact__form-name {
	border-bottom: 1px solid #000000;
	max-width: 518px;
}

#contact-name {
	display: block;
	border: none;
	margin: 18px 0 10px 0;
	width: 100%;
	background-color: #FFFBF8;
	font-size: 16px;
}

.container-contact__form-lastname {
	padding: 10px 0 10px 0;
	border-bottom: 1px solid #000000;
	max-width: 518px;
}

#contact-lastname {
	display: block;
	border: none;
	margin: 18px 0 0 0;
	width: 100%;
	background-color: #FFFBF8;
	font-size: 16px;
}

.container-contact__form-tel {
	padding: 10px 0 0 0;
	border-bottom: 1px solid #000000;
	max-width: 518px;
	margin-bottom: 40px;
}

#contact-tel {
	display: block;
	border: none;
	margin: 18px 0 10px 0;
	width: 100%;
	background-color: #FFFBF8;
	font-size: 16px;
}

.container-contact__button {
	background-color: #FF8F00;
	color: #FFFFFF;
	padding: 11.5px 21px;
	border-radius: 16px;
	font-size: 20px;
}

.container-contact__button:hover {
	background-color: #DC810E;
}

.container-contact__button:active {
	background-color: #FF9F25;
}

.container-contact__mode-contact {
	display: flex;
	justify-content: flex-end;
}

.container-contact__block2 {
	margin-right: 14%;
}

.container-contact__mode {
	margin-bottom: 40px;
}

.container-contact__mode-work {
	font-size: 32px;
	margin-bottom: 20px;
}

.container-contact__mode-timetable {
	font-size: 20px;
	font-weight: 500;
}

.container-contact__cont-info-h4 {
	font-size: 32px;
}

.container-contact__cont-info a {
	font-size: 20px;
	font-weight: 500;
}

.container-contact__cont-info a {
	display: block;
	margin-bottom: 20px;
}

.container-contact__cont-info a:hover{
	color: #FF8F00;
}

.container-contact__icon a {
 margin-right: 20.45px;
}
.container-contact__icon img:hover {
	transform: scale(1.3);
}

.container-contact__map {
	position: relative;
	left: 10px;
}

/* 11 БЛОК ФУТЕР */
.footer {
	background-color: #592F0A;
	color: #FFFFFF;
}

.footer-wrap {
	margin-bottom: 60px;
}

.footer-wrap__footer-nav {
	padding-top: 60px;
	margin-bottom: 50px;
}

.footer-wrap__footer-nav ul{
	display: flex;
	justify-content: space-between;
}

.footer-wrap__footer-nav a{
	padding: 15px;
}

.footer-wrap__footer-nav a:hover {
	color: #FF8F00;
}

.footer-wrap__footer-img {
	display: flex;
	justify-content: center;
	margin-bottom: 48px;
}

.footer-wrap__footer-img a:nth-child(2) {
	margin: 0 39px 0 39px;
}

.footer-wrap__footer-img a:hover {
	transform: scale(1.3);
}

.footer-wrap__p {
	text-align: center;
}

.header-burger {
	display: none;
}

@media (max-width: 1450px) {
	.carousel-control-next, .carousel-control-prev {
		display: none;
	}
}

@media (max-width:1200px) {
	.carousel-control-prev,
	.carousel-control-next {
		display: none;
	}
}

@media (max-width: 1100px) {
	.header__container-nav a {
		font-size: 18px;
	}

	.offer {
		margin-bottom: 100px;
	}

	.offer-btn {
		padding: 11.5px 26.5px;
	}

	.swipe p {
		font-size: 22px;
	}

	.swipe a {
		background-size: 65px;
		width: 65px;
	}

	h1 {
		font-size: 54px;
	}

	h2 {
		font: 32px;
	}

	h4 {
		font-size: 27px;
	}

/* БЛОК С МУЖИКОМ */
	.aboutus-container__wrap-center {
		display: none;
	}

	.aboutus-container__wrap-right {
		position: relative;
		top: 163px;
	}

	.aboutus-container {
		margin: 0 auto 160px;
	}

/* БЛОК С КОНТАКТАМИ */
	.container-contact__photo {
		display: none;
	}

	.container-contact__block1 {
		justify-content: center;
		text-align: center;
	}

	.container-contact__h2 {
		margin: 0 0 60px 0;
	}

.container-contact__h4 {
	display: none;
	}

	.container-contact__title {
		width: 518px;
		margin: 0 auto;
	}

	.container-contact__form {
		max-width: 448px;
		margin: 0 auto;
	}

	.container-contact__form-tel {
		margin: 0 0 51px 0;
	}

	.container-contact__button-div {
		display: flex;
		justify-content: center;
		margin: 0 0 60px 0;
	}

	.container-contact__mode-contact {
		flex-direction: column;
		align-self: center;
		text-align: center;
	}

	.container-contact__block2 {
		text-align: center;
		margin: 0 auto;
	}

	.container-contact__icon img{
		width: 40px;
		margin: 0 0 40px 0;
	}

	.answer__link {
		font-size: 21px;
		margin-right: 57px;
	}

	.corousel-inner {
		width: 930px;
		overflow: hidden;
		margin: 0 auto;
		padding: 0 15px;
	}

	.answer__list div {
		max-width: 690px;
	}

	.arrow {
		left: 28px;
	}

	.block-answer {
		max-width: 856px;
		margin: 0 auto;
	}

	.container-team__item {
		font-size: 23px;
	}

	.container-team__item img {
		max-width: 180px;
	}

	.container-material__tree-item img {
		max-width: 180px;
	}

	.container-material__tree-item p {
		font-size: 23px;
	}

	.container-info__plan-call img {
		max-width: 180px;
	}

	.container-info__plan-call>p {
		font-size: 18px;
	}

	.block-answer__application {
		font-size: 25px;
	}

	.header-burger {
		display: none;
	}
}

@media (max-width: 991px) {
	.header-container__menu-contact ul li:last-child {
		display: none;
	}

	h2 {
		font-size: 40px;
	}
	
	.header-burger {
		display: block;
		position: relative;
		top: 30px;
		right: 22px;
		width: 65px;
		height: 53px;
	}

	.header-container__menu-contact {
		right: -109px;
		position: relative;
	}

	.header-burger span {
		background-color: #FF9F25;
		position: absolute;
		width: 65px;
		height: 3px;
		top: 18px;
	}

	.header-burger::before,
	.header-burger::after {
		content: '';
		background-color: #FF9F25;
		position: absolute;
		width: 65px;
		height: 3px;
		/* left: 0; */
		bottom: 68px;
	}

	.header-burger::before {
		top: 0;
	}

	.header-burger::after {
		/* bottom: 0; */
	}

	.header__container-nav {
		display: none;
	}

	.header-container__menu {
		max-width: 688px;
		margin: 0 auto 40px;
	}

	.offer {
		display: flex;
		flex-direction: column;
		max-width: 600px;
		margin: 0 auto;
		padding-top: 200px;
		padding-bottom: 60px;
	}

	.offer h3 {
		order: -5;
		margin-bottom: 20px;
		font-size: 30px;
	}

	.offer span {
		display: none;
	}

	.background {
		margin-bottom: 100px;
	}

	/* БЛОК С МУЖИКОМ */
	.aboutus-container {
		margin-bottom: 0;
	}

	.aboutus-container__wrap-right {
		top: 0;
	}

	.aboutus-container__wrap-left ul li:nth-child(n+2):nth-child(-n+3) {
		margin-right: 0;
	}

	.aboutus-container__wrap-right ul li:nth-child(n+2):nth-child(-n+3) {
		margin-left: 0;
	}

	.aboutus-container__wrap-left ul, .aboutus-container__wrap-right ul {
		height: auto;
	}

	.aboutus-container__wrap-left ul li {
	background-position: left;
	text-align: left;
	padding-right: 0;
	padding-left: 29px;
	}

	.aboutus-container__wrap {
		column-gap: 20px;
		padding-bottom: 0;
		margin-bottom: 100px;
	}

	/* БЛОК С ТРЕМЯ КАРТИНКАМИ */
	.container-team__item img {
		max-width: 150px;
	}

	.container-team__item p {
	font-size: 18px;
	}

	.container-benefits__wrap {
		flex-direction: column;
		padding-bottom: 74px;
	}

	.container-benefits__h {
		text-align: center;
		padding: 40px 78px 0 78px;
	}

	.container-team {
		margin-bottom: 100px;
		padding-bottom: 0;
	}
	.container-benefits__wrap-text {
		background: url(../image/shadowsq.png) no-repeat;
		width: 100%;
		max-width: 688px;
		margin: 0 auto;
		height: 214px;
	}

	.container-benefits__wrap-text p {
		width: 638px;
		margin: 25px 20px;
	}

	.container-benefits__wrap-list {
		margin: 53px auto 0;
	}

	.container-benefits__wrap-list ul {
		height: auto;
		align-self: flex-end;
		
	}
	.container-benefits__wrap-list ul li{
		margin-bottom: 20px;
		font-size: 20px;
	}

	.container-benefits__wrap-list ul li:nth-child(1){
	align-self:start;
	}

	.container-benefits__wrap-list ul li:nth-child(2) {
		margin-left: 0;
	}

	.container-benefits__wrap-list ul li:nth-child(3){
		align-self: flex-start;
		margin-right: 0;
	}

	.container-benefits__wrap-list ul li:nth-child(5){
		align-self: flex-start;
		width: 352px;
		line-height: 30px;
		height: 54px;
		background-position: 0;
	}

	/* БЛОК МАТЕРИАЛЫ ОТДЕЛКИ */
	.container-material {
		padding-top: 100px;
		margin-bottom: 100px;
	}

	.wrapper{
		margin-bottom: 100px;
	}

	/* блок с контактами */

	.container-catalog {
	display: grid;
	grid-template-areas: "img h2"
								"h3  h3";
	column-gap: 22px;
	margin: 40px 53px 20px 53px;
	}

	.container-catalog>img{
		grid-area: img;
		justify-self: end;
	}

	.container-catalog>h2{
		grid-area: h2;
	}

	.container-catalog__title {
		margin-bottom: 37px;
	}

	.container-catalog>h3{
		grid-area: h3;
		text-align: center;
		margin: 0 auto;
	}

	.container-catalog__img {
		width: 55px;
		height: 52px;
		margin-bottom: 0;
	}

	.catalog-form__button {
		margin-bottom: 139px;
	}

	.container-catalog{
		padding-top: 0;
	}

	/* ИНФОРМАЦИЯ */
	.container-info {
		padding-top: 100px;
	}

	.container-info__title-h3-1,
	.container-info__title-h3-2 {
		font-size: 20px;
	}

	.container-info__plan-call img{
		max-width: 150px;
	}

	.container-info__plan-call h4{
		font-size: 24px;
	}

	.container-info__plan {
		grid-template-columns: 328px 328px;
	}

	.block-answer {
		padding-top: 100px;
	}

	/* БЛОК С ВОПРОСАМИ */
	.block-answer__wrap {
		max-width: 688px;
		margin: 0 auto;
	}

	.answer__link {
		font-size: 18px;
		line-height: 35px;
	}

	.answer__list div {
		max-width: 600px;
	}

	.arrow {
		left: -34px;
		bottom: 14px;
	}

	.carousel-indicators [data-bs-target] {
		width: 14px;
		height: 14px;
	}

	button.active {
		width: 20px !important;
		height: 20px !important;
	}

	.carousel-indicators [data-bs-target]:hover {
		transform: none;
	}

	.block-answer__application {
		font-size: 20px;
		max-width: 688px;
	}

	.block-answer__application {
		margin-bottom: 100px;
	}

	.block-answer__application {
		display: none;
	}

	.block-answer__small-ekran {
		display: block;
		font-size: 20px;
		max-width: 688px;
		margin: 25px auto 100px;
	}

	.container-contact__form-name label{
		font-size: 20px;
		font-weight: 400;
	}
	.container-contact__form-lastname label{
		font-size: 20px;
		font-weight: 400;
	}
	.container-contact__form-tel label{
		font-size: 20px;
		font-weight: 400;
	}

	.container-contact__block1 {
		margin-bottom: 0;
	}

	.container-contact__button-div {
		margin-bottom: 100px;
	}

	.container-contact__map {
	}

	.container-contact__map img {
		height: auto;
		width: 100%;
		max-width: 720px;
	}

	.container-contact {
		margin-bottom: 100px;
	}

	/* FOOTER */
	.footer-wrap {
		display: flex;
		flex-direction: column;
	}

	.footer-wrap__footer-img {
		order: -5;
		padding-top: 33px;
	}
	.footer-wrap__footer-nav {
		padding-top: 0;
		margin-bottom: 40px;
		
	}

	.footer-wrap__footer-nav ul{
		flex-wrap: wrap;
		justify-content: center;
		text-align: center;
		row-gap: 29px;
	}

	.footer-wrap__footer-nav ul li {
		width: 25%;
	}

	.footer-wrap__footer-img img {
		height: 40px;
		width: 40px;
	}

	.image-slider .swiper-pagination-bullet {
		width: 14px;
		height: 14px;
		line-height: 14px;
	}

	.swiper-pagination-bullet-active {
		width: 18px !important;
		height: 18px !important;
	}
}

@media (max-width: 768px) {
	h2 {
		margin-bottom: 20px;
	}

	.aboutus-container__wrap {
		flex-direction: column;
	}

	.aboutus-container__wrap li {
		margin-bottom: 20px;
	}

	.aboutus-container__wrap-left ul li,
	.aboutus-container__wrap-right ul li {
		padding-left: 45px;
	}

	.container-team__wrap {
		flex-wrap: wrap;
	}

	/* ПРЕИМУЩЕСТВА */
	.container-benefits__wrap-list ul {
		align-self: center;
	}

	.container-benefits__wrap-list {
		margin-top: 40px;
	}

	.container-benefits__wrap-text {
	background-image: url(../image/shadow.svg);
   background-repeat: no-repeat;
	background-size: 371px;
   backdrop-filter: blur(2px);
   max-width: 374px;
    height: 346px;
   line-height: normal;
   font-weight: 300;
	}

	.container-benefits__wrap-text p {
		height: 242px;
		max-width: 320px;
		font-size: 19px;
	}

	/* МАТЕРИАЛЫ ОТДЕЛКИ */
	.container-material__tree {
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
	}

	.container-info__plan {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 1fr 1fr;
	}

	.container-info__plan-call>p {
		margin: 0 auto
	}

	/* БЛОК С ВОПРОСАМИ */
	.block-answer__wrap {
		max-width: 500px;
		margin: 0 auto;
	}
	
	.answer__link {
		font-size: 15px;
		line-height: 2px;
	}
	
	.answer__list div {
		max-width: 400px;
	}
	
	.arrow {
		left: 0;
		bottom: 11px;
	}

	.arrow-correct {
		top: -9px;
	}
	
	.carousel-indicators [data-bs-target] {
		width: 14px;
		height: 14px;
	}
	
	button.active {
		width: 20px !important;
		height: 20px !important;
	}

	.block-answer__small-ekran {
		max-width: 500px;
	}

	/* БЛОК С ПРЕИМУЩЕСТВАМИ */
	.background-benefits {
	}
}

@media (max-width: 686px) {
	.header-container__menu-contact {
		display: none;
	}

	h1 {
		font-size: 32px;
	}

	.offer h3 {
		font-size: 24px;
	}

	.header-burger {
		right: 30px;
		top: 41px;
	}

	.header-contaier__menu-logo img{
		margin-left: 30px;
	}

	.image-slider .swiper-button-prev::after, .image-slider .swiper-button-next::after {
		display: none;
	}

	.image-slider__image img {
		height: auto;
		margin: 0 auto;
	}

	.footer-wrap__footer-nav ul li {
		width: 33%;
	}

	.offer h1 {
		max-width: 500px;
	}
}

@media(max-width: 588px) {
	.footer-wrap__footer-nav ul li {
		width: 50%;
	}

	.footer-wrap__footer-nav ul li:nth-child(1) {
		display: none;
	}

	.offer h1 {
		max-width: 380px;
		font-weight: 700;
	}

	.header-burger {
		right: 7px;
	}

	.container-benefits__h {
		margin: 0 auto 20px;
		padding: 40px 0 0 0;
	}

	.container-benefits__wrap-text p {
		font-size: 18px;
	}

	.container-benefits__wrap-text {
		background-image: url(../image/shadow.svg);
		background-size: 356px 333px;
		background-repeat: no-repeat;
		backdrop-filter: blur(2px);
		max-width: 356px;
		height: 333px;
		line-height: normal;
		font-weight: 300;
	}
	
	.container-benefits__wrap-list ul li {
		font-size: 16px;
	}

	.container-benefits__wrap-list ul li {
		background-position-y: 0px;
		height: 26px;
	}

	.container-benefits__wrap-list {
		margin-top: 40px;
	}

	.container-catalog {
		margin-left: 10px;
		margin-right: 10px;
	}

	.container-catalog>h3 {
		font-size: 25px;
	}

	.block-answer {
		padding-top: 60px;
	} 

	.block-answer h2 {
		font-size: 30px;
	}

	.answer__link {
		font-size: 16px;
	}
}

@media(max-width:506px) {
	.answer__link {
		font-size: 14px;
	}

	.answer__list div {
		max-width: 338px;
	}
}

@media(max-width: 480px) {
	.offer h3 {
		text-align: center;
	}

	h2 {
		font-size: 30px;
	}

	.offer h1 {
		text-align: center;
	}

	.offer__button {
		margin: 0 auto;
	}

	.logo-big {
		display: none;
	}

	.header-contaier__menu-logo img {
		margin-left: 20px;
	}
	.logo-small {
		display: block;
		width: 50px;
		height: 52px;
		
	}

	.header-burger {
		top: 30px;
		right: 22px;
		width: 65px;
	}

	.offer h1 {
		order: -5;
	}

	.offer {
		padding-top: 175px;
	}

	.swipe p {
		font-size: 16px;
	}

	.swipe a {
		background-size: 55px;
    width: 55px;
	}

	.background {
		margin-bottom: 40px;
	}

	.aboutus-container__wrap-left ul li, .aboutus-container__wrap-right ul li {
		font-size: 16px;
		background-size: 20px;
		height: 20px;
		background-position-y: 0;
	}

	.aboutus-container__wrap {
		margin-bottom: 40px;
	}

	.container-team {
		font-size: 40px;
	}

	.container-info {
		padding-top: 40px;
	}

	.container-material {
		padding-top: 40px;
	}

	.container-material__tree-item img {
		max-width: 135px;
	}

	.container-material__tree-item p {
		font-size: 18px;
	}

	.container-catalog {
		margin-bottom: 30px;
	}

	.container-material {
		margin-bottom: 40px;
	}

	.title {
		font-size: 30px;
	}

	.form-label {
		font-size: 16px;
	}
	.catalog-form {
		max-width: 255px;
		margin: 0 auto;
	}

	.catalog-form__container {
		margin-bottom: 0;
	}

	#email {
		width: 244px;
	}

	.catalog-form__button {
		position: relative;
		left: 20px;
		margin-bottom: 60px;
	}
	
	label.checkbox__label {
		position: relative;
		font-size: 12px;
		text-align: center;
	}

	.checkbox__input {
		position: relative;
		top: 34px; 
}

	.container-info__title-h3-1, .container-info__title-h3-2 {
		font-size: 18px;
	}

	.container-info__title-h3-2 {
		margin-bottom: 40px;
	}

	.container-info__plan-call img {
		max-width: 135px;
	}

	.container-info__plan-call>p {
		font-size: 16px;
	}

	.container-info__plan {
		row-gap: 20px;
	}

	.block-answer {
		padding-top: 40px;
	}

	.answer__list div {
		max-width: 250px;
	} 

	.block-answer {
		margin: 0 auto;
	}

	.arrow {
		left: 43px;
		bottom: 20px;
	}

	.sub-answer__link {
	font-size: 15px;	
	}

	.container-benefits__wrap-text p {
		font-size: 15px;
	}	

	.container-benefits__wrap-text {
		background-size: 330px 294px;
		max-width: 326px;
		height: 296px;
	}

	.container-benefits__wrap-text p {
		height: 242px;
		max-width: 273px;
	}

	.container-benefits__wrap-list ul li {
		font-size: 15px;
	}

	.container-benefits__wrap-list ul {
		max-width: 295px;
	}

	.container-benefits__wrap-list ul li:nth-child(5) {
		width: 295px;
		line-height: 23px;
	}

	.wrapper {
		margin-bottom: 40px;
	}

	.container-contact {
		margin-bottom: 40px;
	}
}

@media(max-width:420px) {
	.swipe {
		width: 242px;
	}

	.arrow {
		left: 43px;
		 bottom: 20px;
	}

	.answer__list>li {
		padding: 20px 0 20px 10px;
	}

	.block-answer__small-ekran {
		text-align: center;
		margin-bottom: 40px;
	}

	.container-contact__form-name label,
	.container-contact__form-tel label,
	.container-contact__form-lastname label {
		font-size: 18px;
	}

	.container-contact__button-div {
		margin-bottom: 40px;
	}

	.container-contact__mode-work {
		font-size: 24px;
		font-weight: 700;
	}

	.container-contact__cont-info-h4 {
		font-size: 24px;
		font-weight: 700;
		line-height: 23px;
	}

	.footer-wrap__p {
		text-align: center;
		font-size: 14px;
	}

	.image-slider {
		padding: 0 0 50px 0;
	}
}

@media(max-width:370px) {
	.arrow {
		left: 0px;
		bottom: 20px;
	}

	.answer__list>li {
		padding: 20px 0 20px 4px;
	}

	.container-benefits__wrap-text {
		background-size: 281px 265px;
		max-width: 281px;
		height: 265px;
	}

	.container-benefits__wrap-text p {
		width: 638px;
		margin: 14px 11px;
	}
}

@media(max-width:334px) {
	.arrow {
		left: 0px;
		bottom: 20px;
	}

	.answer__list>li {
		padding: 20px 0 20px 4px;
	}
}