*,
*::before,
*::after { box-sizing:border-box; }
a { text-decoration:none; color:inherit; cursor:pointer; }
button { background-color:transparent; color:inherit; border-width:0; padding:0; cursor:pointer; }
figure{ margin:0; }
ul, ol, dd { margin:0; padding:0; list-style:none; }
h1, h2, h3, h4, h5, h6 { margin:0; font-size:inherit; font-weight:inherit; }
p { margin:0; }
cite { font-style:normal; }
fieldset { border-width:0; padding:0; margin:0; }

* {
	margin: 0;
	padding: 0;
}

body {
	background: #FFFBF8;
	font-family: 'nunito';
}

.background {
	background: #FFFBF8 url(/image/back1.jpg) no-repeat;
	width: 100%;
	background-size: 100%;
	color: #FFFFFF
}

h1 {
	font-weight: 800;
	font-size: 56px;
	margin-bottom: 20px;
}

h3 {
	font-size: 32px;
	margin-bottom: 40px;
}

.wrap {
	width: 100%;
	max-width: 1288px;
	padding: 0 15px;
	margin: 0 auto;
}

.header__container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto 40px;
	padding-top: 60px;
}

.header__container-logo{
	max-width: 188px;
	height: 88px;
}

.header__container-contact ul li{
	display: inline;
}

.header__container-contact a:hover {
	color: #FF8F00;
}

.header__container-contact ul li img {
	vertical-align: middle;
	margin: 10px;
}

.header__container-contact ul li img:hover {
	transform: scale(1.3);
}

.header__container-contact ul li:nth-last-child(1) {
	margin-left: 30px;
}
.header__container-contact ul li a:nth-last-child(1) {
	font-weight: 500;
	font-size: 24px;
}

.header__container-nav {
	margin-bottom: 100px;
}

.header__container-nav ul{
	display: flex;
	justify-content: space-between;
}

.header__container-nav ul img {
	vertical-align: middle;
	padding-left: 12px;
}

.header__container-nav a {
	padding: 15px;
	font-size: 20px;
}

.header__container-nav a:first-of-type {
	padding-left: 0;
}
.header__container-nav a:last-of-type {
	padding-right: 0;
}

.header__container-nav a:hover {
	color: #FF8F00;
}

/* offer */
.offer {
	max-width: 908px;
	margin-left: 76px;
	margin-bottom: 170px;
}

.offer-btn {
	font-family: 'nunito';
	background-color: #FF8F00;
	color: #FFFFFF;
	padding: 12.5px 26.5px;
	border-radius: 16px;
	font-size: 20px;
}

.offer-btn:hover {
	background-color: #DC810E;
}

.swipe {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 336px;
	margin: 0 auto;
}

.swipe p {
	text-align: center;
	margin-bottom: 20px;
	font-size: 24px;
	font-weight: 600;
}

.swipe a img {
	width: 72px;
	height: 72px;
}

.swipe a img:hover {
	transform: scale(1.5);
}

.swipe a {
	padding: 10px;
}